
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap" rel="stylesheet"');
:root{
    --cor-background-body1: #1b0a29;
    --cor-background-body2: #392150;  

}

.mainContainer{
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content:center;
    align-items: center;
    background: linear-gradient(120deg, var(--cor-background-body1) , var(--cor-background-body2));
    position:relative;
}


.logoPet{
    height: 10vh;
    max-width: 80%;
    max-height: 15%;
    position: absolute;
    top: 20%;
    left: 50%;
    margin: -25px 0 0 -25px;
    
    
}
.logoPet img{
    margin:0 auto;
    width: 35%;
}
.nav{
    width: 80%;
    height: 50%;
}

.menu {
    list-style-type: none; 
    overflow: hidden;
  }
  .navItem {
    float: left; 
    margin-left: 70px;
    margin-top: 85px;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 1.8em;
    font-weight: 700; /* Negrito */
    color: white;
  }